<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
	<input type="text" name="column" id="columnNum" value="1"/>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<input type="file" name="myFile">
		<button type="submit" class="btn">Submit</button>
	</form>
